*{
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./images/img-fundo-cidade-tres.png);
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #050e26;
}

/* estilo do menu de navegação */
.header-navigation {
    width: 100%;
    margin-left: 0;
    height: 50px;
    padding-top: 30px;
    color: white;
    position: fixed;
    background-color: #050e26;
    top: 0;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.475);
    text-align: center;
    align-items: center;
}

.navigation {
    cursor: pointer;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
}

.navigation:hover {
    color: #4f6ab8;
}

/* modal das áreas do ensino médio */
.ensino-medio-modal {
    color: #ffffff;
    background-color: #050e26;
    margin-left: 66px;
    margin-right: 850px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2000px;
    padding-bottom: 0;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    position: absolute;
    display: none;
}

.ensino-medio-container {
    position: relative;
    display: inline-block;
}

.ensino-medio-container:hover .ensino-medio-modal {
    display: block;
}

/* modal das áreas do técnico */
.tecnico-modal {
    color: #ffffff;
    background-color: #050e26;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2000px;
    padding-bottom: 0;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    position: absolute;
    display: none;
}

.tecnico-container {
    position: relative;
    display: inline-block;
}

.tecnico-container:hover .tecnico-modal {
    display: block;
}

/* estilo dos botões das matérias */
.materias {
    cursor: pointer;
}

.materias:hover {
    background-color: #ffffff;
    color: #050e26;
}

/* conteúdo principal da página */
.title-humanas-container {
    margin-top: 150px;
    text-align: center;
}

.title-humanas {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}

/* estilo dos botões dos trimestres */
.trimestres-container {
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.trimestre-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    cursor: pointer;
}

.trimestre-title:hover {
    background-color: #ffffff7d;
    transition: 0.5s;
}

/* fundo do modal das atividades */
#modal-primeiro-humanas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* conteúdo do modal do primeiro trimestre */
.modal-primeiro-trimestre {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    margin-top: 400px;
    justify-content: center;
    text-align: center;
}

.atividade-humanas {
    font-size: 15px;
    text-align: center;
}

.oms {
    color: #ffffff;
    margin-bottom: 50px;
    border: 25px solid transparent;
    border-radius: 40px;
    background-color: #00000071;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.oms-text {
    width: 300px;
    font-size: 11px;
    text-align: justify;
}

.texts {
    padding-right: 35px;
    align-items: center;
}

.oms-img-container {
    display: flex;
    align-items: center;
}

.oms-img {
    width: 350px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    border-radius: 20px;
}

.oms-img:hover {
    transform: scale(1.05);
}

.franca-imperialista {
    color: #ffffff;
    margin-bottom: 50px;
    border: 25px solid transparent;
    border-radius: 40px;
    background-color: #00000071;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.franca-imperialista-text {
    width: 300px;
    font-size: 11px;
    text-align: justify;
}

.franca-imperialista-img-container {
    display: flex;
    align-items: center;
}

.franca-imperialista-img {
    width: 350px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    border-radius: 20px;
}

.franca-imperialista-img:hover {
    transform: scale(1.05);
}