*{
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./images/img-fundo-cidade-tres.png);
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #050e26;
}

/* estilo do menu de navegação */
.header-navigation {
    width: 100%;
    margin-left: 0;
    height: 50px;
    padding-top: 30px;
    color: white;
    position: fixed;
    background-color: #050e26;
    top: 0;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.475);
    text-align: center;
    align-items: center;
    z-index: 1000;
}

.navigation {
    cursor: pointer;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
}

.navigation:hover {
    color: #4f6ab8;
}

/* modal das áreas do ensino médio */
.ensino-medio-modal {
    color: #ffffff;
    background-color: #050e26;
    margin-left: 66px;
    margin-right: 850px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2000px;
    padding-bottom: 0;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    position: absolute;
    display: none;
}

.ensino-medio-container {
    position: relative;
    display: inline-block;
}

.ensino-medio-container:hover .ensino-medio-modal {
    display: block;
}

/* modal das áreas do técnico */
.tecnico-modal {
    color: #ffffff;
    background-color: #050e26;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2000px;
    padding-bottom: 0;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    position: absolute;
    display: none;
}

.tecnico-container {
    position: relative;
    display: inline-block;
}

.tecnico-container:hover .tecnico-modal {
    display: block;
}

/* estilo dos botões das matérias */
.materias {
    cursor: pointer;
}

.materias:hover {
    background-color: #ffffff;
    color: #050e26;
}

/* estilo do conteúdo principal */
.main-container {
    margin-top: 250px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.text-portfolio {
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    margin-top: 80px;
}

.name {
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.foto-sara {
    width: 300px;
    margin-left: 200px;
}

.title {
    width: 400px;
}

/* estilo do botão "sobre mim" */
.about-me-button {
    width: 100px;
    height: 30px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.about-me-button:hover {
    background-color: #ffffff7d;
    transition: 0.5s;
}

/* seção sobre mim */
.about-me-container {
    width: 100%;
    margin-top: 150px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.about-me-title {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 150px;
}

.about-me-text {
    color: #ffffff;
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
}

/* seção do currículo */
.curriculum-container {
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.curriculum-title {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.curriculum-img {
    width: 400px;
    transition: transform 0.3s ease-out;
}

.curriculum-img:hover {
    transform: scale(1.05);
}

/* seção dos portfólios anteriores */
.outros-portfolios-container {
    width: 100%;
    margin-top: 50px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.outros-portfolios-title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 60px;
}

.portfolio-2024-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
}

.portfolio-2023-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.portfolio-2024-link {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 1000px;
    text-decoration: none;
    padding: 10px;
}

.portfolio-2024-link:hover {
    background-color: #ffffff7d;
    transition: 0.5s;
}

.portfolio-2023-link {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 1000px;
    text-decoration: none;
    padding: 10px;
}

.portfolio-2023-link:hover {
    background-color: #ffffff7d;
    transition: 0.5s;
}