*{
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./images/img-fundo-cidade-tres.png);
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #050e26;
}

.header-navigation {
    width: 100%;
    margin-left: 0;
    height: 50px;
    padding-top: 30px;
    color: white;
    position: fixed;
    background-color: #050e26;
    top: 0;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.475);
}

.options {
    margin-left: 250px;
}

.navigation {
    margin-left: 120px;
    cursor: pointer;
}

.navigation:hover {
    color: #4f6ab8;
}

#ensino-medio-modal {
    color: #ffffff;
    background-color: #050e26;
    margin-left: 540px;
    margin-right: 850px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2000px;
    padding-bottom: 0;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    position: fixed;
    display: none;
}

.materias {
    cursor: pointer;
}

.materias:hover {
    background-color: #ffffff;
    color: #050e26;
}

.title-natureza-container {
    margin-top: 150px;
    text-align: center;
}

.title-natureza {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}